/.vs
/packages

/Sensit.App.Automate/bin
/Sensit.App.Automate/obj
/Sensit.App.Automate/*.pfx
/Sensit.App.Automate/*.user

/Sensit.App.Log/bin
/Sensit.App.Log/obj
/Sensit.App.Log/*.pfx
/Sensit.App.Log/*.user

/Sensit.App.GasMixer/bin
/Sensit.App.GasMixer/obj
/Sensit.App.GasMixer/*.pfx
/Sensit.App.GasMixer/*.user

/Sensit.App.GPS/bin
/Sensit.App.GPS/obj
/Sensit.App.GPS/*.pfx
/Sensit.App.GPS/*.user

/Sensit.App.MassFlow/bin
/Sensit.App.MassFlow/obj
/Sensit.App.MassFlow/*.pfx
/Sensit.App.MassFlow/*.user

/Sensit.App.Modbus/bin
/Sensit.App.Modbus/obj
/Sensit.App.Modbus/*.pfx
/Sensit.App.Modbus/*.user

/Sensit.App.Pogo/bin
/Sensit.App.Pogo/obj
/Sensit/App.Pogo/*.pfx
/Sensit/App.Pogo/*.user

/Sensit.App.PowerSupply/bin
/Sensit.App.PowerSupply/obj
/Sensit.App.PowerSupply/*.pfx
/Sensit.App.PowerSupply/*.user

/Sensit.App.Programmer/bin
/Sensit.App.Programmer/obj
/Sensit.App.Programmer/*.pfx
/Sensit.App.Programmer/*.user

/Sensit.App.Relay/bin
/Sensit.App.Relay/obj
/Sensit.App.Relay/*.pfx
/Sensit.App.Relay/*.user

/Sensit.TestSDK/bin
/Sensit.TestSDK/obj
/Sensit.TestSDK/*.user

/UnitTests/obj
/UnitTests/bin
/TestResults
/ElectrochemComm/obj
/ElectrochemComm/bin/Debug/net6.0-windows
/ElectrochemComm/Sensit.App.Aardvark.csproj.user
