/.vs
/packages

/Sensit.App.Automate/bin
/Sensit.App.Automate/obj
/Sensit.App.Automate/publish
/Sensit.App.Automate/*.pfx
/Sensit.App.Automate/*.user

/Sensit.App.Datalogger/bin
/Sensit.App.Datalogger/obj
/Sensit.App.Datalogger/publish
/Sensit.App.Datalogger/*.pfx
/Sensit.App.Datalogger/*.user

/Sensit.App.G2GLT/bin
/Sensit.App.G2GLT/obj
/Sensit.App.G2GLT/publich
/Sensit.App.G2GLT/*.pfx
/Sensit.App.G2GLT/*.user

/Sensit.App.GasMixer/bin
/Sensit.App.GasMixer/obj
/Sensit.App.GasMixer/publish
/Sensit.App.GasMixer/*.pfx
/Sensit.App.GasMixer/*.user

/Sensit.App.G3/bin
/Sensit.App.G3/obj
/Sensit.App.G3/publish
/Sensit.App.G3/*.pfx
/Sensit.App.G3/*.user

/Sensit.App.Keysight_34972A/bin
/Sensit.App.Keysight_34972A/obj
/Sensit.App.Keysight_34972A/publish
/Sensit.App.Keysight_34972A/*.pfx
/Sensit.App.Keysight_34972A/*.user

/Sensit.App.MassFlow/bin
/Sensit.App.MassFlow/obj
/Sensit.App.MassFlow/publish
/Sensit.App.MassFlow/*.pfx
/Sensit.App.MassFlow/*.user

/Sensit.App.PowerSupply/bin
/Sensit.App.PowerSupply/obj
/Sensit.App.PowerSupply/publish
/Sensit.App.PowerSupply/*.pfx
/Sensit.App.PowerSupply/*.user

/Sensit.App.Programmer/bin
/Sensit.App.Programmer/obj
/Sensit.App.Programmer/publish
/Sensit.App.Programmer/*.pfx
/Sensit.App.Programmer/*.user

/Sensit.TestSDK/bin
/Sensit.TestSDK/obj
/Sensit.TestSDK/*.user

/UnitTests/obj
/UnitTests/bin
/TestResults
