<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AE.Net.Mail" version="1.7.10.0" targetFramework="net47" />
  <package id="CsvHelper" version="12.1.1" targetFramework="net472" />
  <package id="DnsClient" version="1.2.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net47" />
  <package id="EntityFramework.SqlServerCompact" version="6.2.0" targetFramework="net47" />
  <package id="Google.Apis" version="1.37.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.37.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.37.0" targetFramework="net472" />
  <package id="Google.Apis.Gmail.v1" version="1.37.0.1431" targetFramework="net472" />
  <package id="Kelary.Ivi.Visa" version="5.8.908" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net47" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net47" />
  <package id="Microsoft.SqlServer.SqlEnum.dll" version="1.0.1" targetFramework="net47" />
  <package id="MongoDB.Bson" version="2.7.2" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.7.2" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.7.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net47" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>