<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sensit.App.GasConcentration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Sensit.App.GasConcentration.Properties.Settings>
            <setting name="PortAnalyte" serializeAs="String">
                <value />
            </setting>
            <setting name="PortDiluent" serializeAs="String">
                <value />
            </setting>
            <setting name="GasAnalyte" serializeAs="String">
                <value>Air</value>
            </setting>
            <setting name="GasDiluent" serializeAs="String">
                <value>Air</value>
            </setting>
        </Sensit.App.GasConcentration.Properties.Settings>
    </userSettings>
</configuration>
