<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sensit.App.Datalogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Sensit.App.Datalogger.Properties.Settings>
            <setting name="Filename" serializeAs="String">
                <value />
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value />
            </setting>
        </Sensit.App.Datalogger.Properties.Settings>
    </userSettings>
</configuration>